<div style="text-align: left;color: #000;font-family: roboto,arial,sans-serif;font-size: 15px; font-weight: bold;border-bottom: 4px solid #FAFAFA;">
<table>
<tr>
<td><img src="{{ logo }}" alt="" style="height: 50px;border-radius: 50%;width: 50px;"/></td>
<td style="padding-top: 10%;"><h3>Statement!</h3></td>
</tr>
</table>

</div>
<br/><br/>



Hello <strong>{{ guide }}</strong>, at least one of your activities on Beneen Trip's Store has been paid by the user <strong>{{ tourist }}</strong>, you can check your statement in file attached <br/><br/><br/><br/>

You can also contact <strong>{{ tourist }}</strong> via : <br/>

<ul>
<li>Phone number: <strong>{{ phone }}</strong></li>
<li>Email: <strong>{{ email }}</strong></li>
</ul>

<br/><br/>

Thank you, cordially, the Beneen Trip team.
